---
layout: default
title: Home
image:
---

<div>
    <div class="quote"><p>&ldquo;Out of clutter, find simplicity.&rdquo; &mdash; Albert Einstein </p>
    </div>
</div>

<div>
  <h1 class="page-title">Hi all,</h1>
  <div class="post-listing"><p>I am a freelance data scientist who is interested in various areas spanning from data analysis and data visualization to machine learning and deep learning. For more information, inquiries or collaborations check out the <a href="{{ site.baseurl }}/about">about</a> page.</p>
  </div>
</div>

<div class="posts">
  <h1 class="page-title">Featured Projects</h1>
  <div class="section-introduction">Here I have selected a series of articles that are the efforts of projects which I have particularly enjoyed and that I wish to showcase. For more articles have a look at the rest of my <a href="{{ site.baseurl }}/blog/">blog</a>.</div>
  {% for post in site.posts %}
    {% if post.featured %}
    <div class="post">
          {% if post.image %}
            <img src="{{ site.baseurl }}{{ post.image }}">
          {% endif %}
          {% if post.image-url %}
            {% if post.image-source %}
              {% if post.image-author %}
                <span class="footnote">Photo from <a href="{{ post.image-url }}">{{ post.image-author }} on {{ post.image-source }}</a></span>
              {% else %}
                <span class="footnote">Photo from <a href="{{ post.image-url }}">{{ post.image-source }}</a></span>
              {% endif %}
            {% endif %}
          {% endif %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post-title">
          {{ post.title }}
        </a>
      </h1>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <p>{{ post.excerpt }}</p>
    </div>
    {% endif %}
  {% endfor %}
  <div class="footer">
    <a href="{{ site.baseurl }}/about">About</a>
    <!-- <a href="{{ site.baseurl }}/notebooks/">Notebooks</a> -->
    <a href="{{ site.baseurl }}/blog/">Blog</a>
  </div>
</div>