---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">
        {% if post.image %}
          <img src="{{ site.baseurl }}{{ post.image }}">
        {% endif %}
        {% if post.image-url %}
          {% if post.image-source %}
            {% if post.image-author %}
              <span class="footnote">Photo from <a href="{{ post.image-url }}">{{ post.image-author }} on {{ post.image-source }}</a></span>
            {% else %}
              <span class="footnote">Photo from <a href="{{ post.image-url }}">{{ post.image-source }}</a></span>
            {% endif %}
          {% endif %}
        {% endif %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h1 class="post-title">{{ post.title }}</h1>
      </a>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <p>{{ post.excerpt }}</p>
    </div>
  {% endfor %}
  <div class="footer">
    <a href="{{ site.baseurl }}/about">About</a>
  </div>
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>